@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body background color */
body {
  background-color: #e4f3ff;
  margin: 0%;
  padding: 0%;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/*Features*/
@keyframes scroll-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-animation {
  animation: scroll-up 1s ease-out forwards;
}

/*spin animation*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin-animation {
  animation: spin 4s linear infinite; 
}

